@import "../../../Styles/animations";
@import "../../../Styles/variables";

.loadingSpinner {
  width: 50px;
  height: 50px;
  border: 6px solid $light-grey-color;
  border-top: 6px solid $blue-color;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinnerContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
