@import "../../styles/mixins";
@import "../../styles/variables";

.otherCitys {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  &__city {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    padding: 0.5rem;
    color: $white-color;
    text-transform: capitalize;
    background: $primary_color;
    background: linear-gradient(
      180deg,
      $primary-color 0%,
      $secondary-color 100%
    );
    font-size: 1.5rem;
    transition: ease-in-out transform 0.2s;
    letter-spacing: 2px;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  @include responsive(tablet) {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  @include responsive(celular) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}
